<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
</head>
<body>
    <div class="body">
        <!-- HEADER -->
        <%- include('./partials/header index.ejs')%>

    <ul>
        <% for(let i=0; i < pokeData.length; i++) { %>
            <a href="/pokedex/<%=i%>"><img src="<%=pokeData[i].img%>" alt="pokeData.name"></a>
            <a href="/pokedex/<%=i%>/edit" id="change">Change</a>
        <% } %>
    </ul>

    </div>
</body>
</html>