<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
</head>

<body>
    <h1>New Pokémon Found</h1>

    <form action="/pokedex" method="POST">
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="type" placeholder="type"/>
        <input type="image url" name="img" placeholder="img url">
        <input type="text" name="stats" placeholder="hp"/>
        <input type="text" name="stats" placeholder="attack"/>
        <input type="text" name="stats" placeholder="defense"/>
        <input type="text" name="stats" placeholder="spattack"/>
        <input type="text" name="stats" placeholder="spdefense"/>
        <input type="text" name="stats" placeholder="speed"/>
        <input type="submit" value="Pokemon Added!">
    
    </form>
</body>
</html>